<head><!--head is information about the html document  -->

    <meta charset="utf-8"> <!--Which character set to use, i.e. which characters are recognised-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/footer.css">
    <style>
    </style><!--pre-setting stype for tables--> 

</head>



<body ><!--What is actually being displayed-->
    
    <footer class = floor>

        <div class = "floor-column-wrapper-linkedIn">
            <div class = "floor-column-img-linkedIn">
                <a  href = "https://aLinkedInProfile" target= "_blank"> 
                    <img src = "./static/linkedIn_icon.png" alt = "Outlook logo">
                </a>
            </div>
            <div class = "floor-column-text-linkedIn" >
                <a  href = "https://aLinkedInProfile" target= "_blank"> 
                    JamesRtoP
                </a>
            </div>
        </div>

        <div class = "floor-column-wrapper-github">
            <div class = "floor-column-img-outlook">
                <a  href = "mailto:an.email@outlook.com"> 
                    <img src = "./static/GitHub_Invertocat_Dark.png" alt = "GitHub logo">
                </a>
            </div>
            <div class = "floor-column-text-outlook" >
                <a  href = "https://github.com/JamesRtoP" target= "_blank"> 
                    JamesRtoP
                </a>
            </div>
        </div>

        <div class = "floor-column-wrapper-outlook">
            <div class = "floor-column-img-outlook">
                <a  href = "mailto:an.email@outlook.com"> 
                    <img src = "./static/outlook_icon.png" alt = "Outlook logo">
                </a>
            </div>
            <div class = "floor-column-text-outlook" >
                <a  href = "mailto:an.email@outlook.com"> 
                    an.email@outlook.com
                </a>
            </div>
        </div>



            
    </footer>


</body>

</html> <!--end outer boundry-->