<!DOCTYPE html>

<html lang="en">

<head><!--head is information about the html document  -->
    <title>
        Gallery Page
    </title>
    <meta charset="utf-8"> <!--Which character set to use, i.e. which characters are recognised-->
</head>



<body style="text-align:center;"><!--What is actually being displayed-->

    <h1>Welcome to my Gallery<br><br></h1>
    <h2>South Spirits:</h2>
    <img src = "./static/South_Spirits.png" alt = "South Spirits Logo" >    
</body>

</html> <!--end outer boundry-->