<head><!--head is information about the html document  -->
    <title> 
        Home
    </title><!--What is displayed to -->
    <meta charset="utf-8"> <!--Which character set to use, i.e. which characters are recognised-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/home.css">
    <style>
    </style><!--pre-setting stype for tables--> 

</head>



<body ><!--What is actually being displayed-->
    <footer class = floor>
        <!--github-->
        <a class = "floor-column-external" href = "https://github.com/JamesRtoP" target= "_blank"> 
            <div class = "floor-column-external-img-wrapper">
                <img class = "floor-column-external-img" height = "4%" src = "./static/GitHub_Invertocat_Dark.png" alt = "Insert Logo Here" height = "100%"><!--not using figure because it automtically carrige returns-->
                <p1 class = "floor-column-external-img-discription">JamesRtoP</p1>
            <div>
        </a>
    </footer>
</body>

</html> <!--end outer boundry-->