<head><!--head is information about the html document  -->

    <meta charset="utf-8"> <!--Which character set to use, i.e. which characters are recognised-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/home.css">
    <style>
    </style><!--pre-setting stype for tables--> 

</head>



<body ><!--What is actually being displayed-->
    
    <footer class = floor>
        <!--github-->

        <div class = "floor-column-wrapper-github" style = "float:left">
            <!--<img class = "floor-column-external-img" src = "./static/GitHub_Invertocat_Dark.png" alt = "Insert Logo Here">--> <!--not using figure because it automtically carrige returns-->
            <div class = "floor-column-img-github">
                <a  href = "https://github.com/JamesRtoP" target= "_blank"> 
                    <img height = "100%" src = "./static/GitHub_Invertocat_Dark.png" alt = "GitHub logo"><!--not using figure because it automtically carrige returns-->

                </a>
            </div>
            <div class = "floor-column-text-github" >
                <a  href = "https://github.com/JamesRtoP" target= "_blank"> 
                    JamesRtoP
                </a>
            </div>

            
            
        <div>
            
            
            
    </footer>

    

</body>

</html> <!--end outer boundry-->