<head><!--head is information about the html document  -->
    <title> 
        Home
    </title><!--What is displayed to -->
    <meta charset="utf-8"> <!--Which character set to use, i.e. which characters are recognised-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/home.css">
    <style>
    </style><!--pre-setting stype for tables--> 

</head>



<body ><!--What is actually being displayed-->

    <header style = "height: 4%; background-color: rgb(196, 255, 255);"><!--Page Header-->
        <img src = "./static/Insert_Logo_Here_Cropped.png" alt = "Insert Logo Here" height = "100%" style = "float: left"><!--not using figure because it automtically carrige returns-->
        <p1 style = "background-color: rgb(197, 222, 176);border: 2px solid rgb(111, 126, 100);font-size: 100%;text-align:center;margin-bottom: 0px">Wazzzzzzap</p1>
        
        
        <p1 style = "height: 100%; width: 25%; text-align:center;background-color: rgb(222, 176, 215);">testy</p1>
        <h1 style = "margin: 0; border-bottom: 2px dotted darkgreen"> poop </h1>
    </header>

</body>

</html> <!--end outer boundry-->