<!DOCTYPE html><!--Defines the document in HTML 5.0-->

<html lang="en"><!--start boundry for everything-->

<head><!--head is information about the html document  -->
    <title>
        Late
    </title>
    <meta charset="utf-8"> <!--Which character set to use, i.e. which characters are recognised-->
    <style>
        
        body
        {
            color: black;
        }
        table
        {
            border-collapse: collapse;
            width: 400px;
        }
        th, td 
        {
            border: 1px solid black;
        }
        th 
        {
            background-color: darkgrey;
        }
    </style>
</head>

<body>





</body>

</html> 