<head><!--head is information about the html document  -->
    <title> 
        Home
    </title><!--What is displayed to -->
    <meta charset="utf-8"> <!--Which character set to use, i.e. which characters are recognised-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/page-topper.css">
    <style>
    </style><!--pre-setting stype for tables--> 

</head>



<body ><!--What is actually being displayed-->
    <header class = "topper"><!--Page Header-->
        <img class = "topper-column-img" src = "./static/Insert_Logo_Here_Cropped.png" alt = "Insert Logo Here" height = "100%"><!--not using figure because it automtically carrige returns-->
        <nav>
            <a class ="topper-column-nav-first" href = "/" > <p1>Home</p1></a>
            <a class ="topper-column-nav" href = "/late" ><p1>Latest</p1></a>

            <a class ="topper-column-nav-last" href = "/gallery" ><p1>Gallery</p1></a>
            
        </nav>
    </header>
</body>

</html> <!--end outer boundry-->