



.floor
{
    border: 0.15vh solid black;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}

footer p1
{
    background-color: aquamarine;
    display: inline-block;
    text-align: center;
}



a+.floor-column-external-img-wrapper:hover
{
    opacity: 0.5;
}



[class = "floor-column-external"]
{
    text-decoration: none;
}


[class ^= "floor-column-external-"]
{
    text-decoration: none;
    float:none;

}

footer a p1
{
    text-align: center;
    color:black;
    padding: 0vh;
}

