body
{
    background: rgb(243, 243, 243);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.topper
{
    height: 4vh;
    /*border: 0.3vh solid black;*/
}



[class *= "topper-column"]
{
    float:left;
}

header a p1:hover
{/*change if mouse is over*/
    opacity: 0.5;
}


[class *= "topper-column-nav"]
{
    color: black;
    text-decoration: none;
    background-color: whitesmoke;
    border: 0.3vh solid black;
    border-right :0;
    font-size: 2.65vh;text-align:center;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
    font-weight:bold;
}

[class *= "topper-column-nav-first"]
{
    margin-left:5vh;
}

[class *= "topper-column-nav-last"]
{
    border-right: 0.3vh solid black;

}
